html, body {
  margin:0;
  padding:0;
}

#app-name {
  background-color: #333;
  padding:9px 0;
  position: absolute;
  z-index: 2;
  width:100%;
  max-height:42px;
  min-width:300px;
}

h1 {
  text-align: center;
  color:#FFF;
  margin:0;
  font-size: 24px;
  cursor:pointer;
}

h1 span {
  color:#CCC;
  font-size: 20px;
}

#app {
  width: 100%;
  height: 100%;
  min-width:300px;
  min-height:300px;
  position:absolute;
  z-index: 0;
}

.noover-off {
  background-color: #999;
}
.green {
  background-color: #093;
}
.yellow {
  background-color: #FC0;
}
.red {
  background-color: #A30000;
}

#settings {
  position:absolute; 
  z-index: 1;
  width:100%;
  text-align: center;
  top:44px;
}

#settings.minimize form {
  display: none;
}

form {
  display: inline-block;
  border:1px solid #000;
}

label {
  background-color: #ddd;
  display: block;
  width: 100%;
  padding: 4px 0;
}

input[type=text] {
  color:#FFF;
  font-size:2em;
  text-align: center;
  display: block;
  padding:10px;
  width:276px;
}

#start {
  background-color: #555;
  border: 2px solid #ddd;
  color: #fff;
  font-size: 2em;
  padding: 10px 0;
  text-align: center;
  display: block;
  width:100%;
  cursor: pointer;
}

#start:hover {
  background-color: #444;
}